@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

html {
    margin: 0;
    background:  url('../img/blur.png'), linear-gradient(217deg, hsla(240, 100%, 50%, 0.850), rgba(0,0,255,0.226) 70%),
    linear-gradient(127deg, hsla(182, 92%, 33%, 0.850), #079ca13a 70%),
    linear-gradient(336deg, hsla(0, 100%, 50%, 0.850), rgba(255, 0, 0, 0.226) 70%);
    min-height: 100%;
    background-repeat:repeat;
}

*{
    font-family: 'Inter', sans-serif;
}

/*Logo*/
h1{
    margin: 0;
}

.logo {
    font-weight: 800;
}

.logo span:first-child{
    color: white;
    margin: 0 1%;

}

.logo span:last-child{
    color: #3735BD;
    background: white;
    border-radius: 50% 30% ;
    padding: 5px;
    margin: 0 1%;
}

/*Header*/

header{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 50px;
}

header .logo{
    font-size: 30px;
}


.fa-search{
    color: white;
    font-size: 27px;
    transition: 500ms;
    padding: 6px;
    border-radius: 12px;
    cursor: pointer;
}

.fa-search:hover{
    background: white;
    color: #4543e9;
}

#search-results{
    width: 90%;
    margin: 20px auto;
}
/*Loader*/
.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: disappear  200ms 4800ms  forwards;
}

.loader .logo{
    font-size: 50px ;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 50px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
}
4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
}
5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
}
100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
}
}

main{
    color: white;
}

article img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: none;
}

/*Slider*/

#slider{
    width: 90%;
    margin: 50px auto;
}

.diapo {
    position: relative;
    overflow: hidden;
    border-radius: 20px;

  }
  
  .elements {
    display: flex;
    max-height: 400px;
  }
  
  .element {
    flex: 1 0 100%;
    position: relative;
    transition: 500ms;
}
  
  .element img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    position: relative;

  }

  .element:hover {
    filter: brightness(150%);
  }

  .element:hover span:first-child{
    text-shadow: 2px 2px 5px rgb(102, 102, 102)     
}

  .black-bottom-img::before {
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    height: 100%;
    width: 100%;
    z-index: 10000;
  }
  
  
  section .title {
      position: absolute;
    top : -40px;
    left: 0;
    width: 100%;
    margin: 0;
    font-size: 20px;
  }
  
  #nav-gauche,
  #nav-droite {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.763);
    font-size: 4vw;
    cursor: pointer;
    margin: 0 20px;
    font-weight: 800;
  }
  
  #nav-gauche:hover,
  #nav-droite:hover {
    color: white;
  }
  
  #nav-droite {
    right: 0;
  }
  .address{
    font-size: 20px ;
    margin-bottom: 5px;
  }
  
  .icon .flex{
    margin: auto !important;
  }

  .black-bottom{
    background: linear-gradient( rgba(255, 255, 255, 0), rgb(0, 0, 0));
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .description-img{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    bottom: 5%;
    right: 2.5%;
  }

  .description-img span:first-child{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    color: #ffffff;
    transition: 500ms;
}

.description-img span:last-child{
    font-size: 17px;
    color: #c2c2c2;
}
/*///////////////////////// PAGE ACTU DU JOUR///////////////////////*/

#actu{
    width: 90%;
    margin: 50px auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

  }
  .article img{
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 7% ;
  }

  .article {
    padding: 10px;
    margin: 10px;
    background: linear-gradient(90deg, #163da070,#00000070 );
    box-shadow: 1px 3px 5px rgb(5, 9, 77);
    text-align: center;
    border-radius: 20px;
    display: flex;
    color: white;
    text-decoration: none;
    transition: 500ms;
  }
  
  .article:hover {
   transform: scale(1.05);
   background: linear-gradient(90deg, #00000070 ,#163da070);

  }

.article div{
    text-align: left;
    margin: 0 10px ;
    position: relative;
    width: 100%;
}

.article h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.article .source{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #c2c2c2
}

.article .date{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #c2c2c2;
    font-size: 14px;
}
