@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root{
    --bg1 : rgba(28, 28, 207, 0.97);
    --bg2 : rgba(139, 146, 167, 0.97);
}

html {
    margin: 0;
    background: linear-gradient(217deg, hsla(240, 100%, 50%, 0.850), rgba(0,0,255,0.226) 70%),
    linear-gradient(127deg, hsla(182, 92%, 33%, 0.850), #079ca13a 70%),
    linear-gradient(336deg, hsla(0, 100%, 50%, 0.850), rgba(255, 0, 0, 0.226) 70%);
    min-height: 100%;
    background-repeat:repeat;
}

/*Logo*/
.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.logo span:first-child{
    color: white;
    margin: 0 1%;

}

.logo span:last-child{
    color: #3735BD;
    background: white;
    border-radius: 50% 30% ;
    padding: 5px;
    margin: 0 1%;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header .logo{
    font-size: 30px;
}


/*Loader*/
.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: disappear 1000ms 4000ms forwards;
}

@keyframes disappear{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loader .logo{
    font-size: 50px ;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 50px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
}
4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
}
5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
}
100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
}
}

main{
    color: white;
}

article img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: none;
}